/*

Add styles or override variables from the theme here.

*/

$primary: #3edad8;

.lhamaemamae{
    box-shadow: 20px 30px 15px #3edad8;
}

img{
    max-width: 100%;
    height: auto;
    width: 25%;
}

img:hover{
    animation: both;
}